{% extends "index.html" %}
{% block body %}

<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="head">
                <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<b><span class="pozdrav1">Izbira naloge</span></b>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					<b>Izberi vrsto in težavnost naloge</b>
					<br>
					<div class="tajnopis">
						<p><b class="imeTranspozicije">NALOGE ZA VAJO</b></p>
						<br>
						<br>
						<b style="position:relative; left:13%;">S temi nalogami lahko vadiš reševanje specifičnih šifer.</b>
						<br>
						<button type="button" id="RF" onclick="prikaziOpcije1()" class="mainButtonsA">Rail fence</button>
						<button type="button" id="TS" onclick="prikaziOpcije2()" class="mainButtonsB">Transpozicija stolpcev</button>
						<button type="button" id="TF" onclick="prikaziOpcije3()" class="mainButtonsC">Transpozicija vrstic</button>
						
						<br>
						
						<div id="RFB" style="display:none;">
							<button id="RFL" type="button" onclick="naloziLahkoRF()" class="sideButtonsL" title="Podano boš imel besedilo in ključ">Lahko</button>
							<button id="RFT" type="button" onclick="naloziTezkoRF()" class="sideButtonsT" title="Podano boš imel samo besedilo, ključ boš lahko videl, če boš kliknil gumb 'Namig'">Težko</button>
						</div>
						<div id="TSB" style="display:none;" >
							<button id="TSL" type="button" onclick="naloziLahkoTS()" class="sideButtonsL" title="Podano boš imel besedilo in ključ">Lahko</button>
							<button id="TST" type="button" onclick="naloziTezkoTS()" class="sideButtonsT" title="Podano boš imel samo besedilo, ključ boš lahko videl, če boš kliknil gumb 'Namig'">Težko</button>
						</div>
						<div id="TVB" style="display:none;">
							<button id="TVL" type="button" onclick="naloziLahkoTV()" class="sideButtonsL" title="Podano boš imel besedilo in ključ">Lahko</button>
							<button id="TVT" type="button" onclick="naloziTezkoTV()" class="sideButtonsT" title="Podano boš imel samo besedilo, ključ boš lahko videl, če boš kliknil gumb 'Namig'">Težko</button>
						</div>
					</div>
					<div class="tajnopis2">
						<p><b class="imeTranspozicije2">NALOGE ZA TEKMOVANJE</b></p>
						<br>
						<br>
						<b style="position:relative; left:17%;">S temi nalogami tekmuješ in se uvrstiš na lestvico.</b>
						<br>
						<button id="LAHKO" type="button" onclick="naloziLahkoT()" class="mainButtonsAB" title="Čistopis bo šifriran enkrat.">Lahko</button>
						<button id="SREDNJE" type="button" onclick="naloziSrednjoT()" class="mainButtonsAB" title="Čistopis bo šifriran dvakrat.">Srednje</button>
						<button id="TEŽKO" type="button" onclick="naloziTezkoT()" class="mainButtonsAB" title="Čistopis bo šifriran trikrat.">Težko</button>
					</div>
					<br>
					<br><br><br><br><br><br><br><br>
					<p><h3><u>Dodaten opis nalog za tekmovanje:</u></h3></p>
					Naloga je podobna težki nalogi za vajo: namigi ne bojo prikazani, za kriptiranje pa je izbrana naključna šifra.<br>
					Ko se stran z nalogo naloži, se bo začelo meriti čas, za vsak namig se ti bo odbilo točke. <br>
					Na lahki težavnosti bo čistopis šifriran enkrat. <br>
					Na srednji težavnosti bo čistopis šifriran dvakrat. <br>
					Na težki težavnosti bo čistopis šifriran trikrat. <br>
					<br>
					Končne točke se bo izračunalo na podlagi časa, ki si ga porabil za reševanje, in števila namigov, ki si jih porabil.
					
					<script>
						
						var trenutnoPrikazano="";
						
						function prikaziOpcije1() {
							if (trenutnoPrikazano != "") {		//če je že nekaj prikazano
								document.getElementById(trenutnoPrikazano).style.display = "none";			//tle skrijemo gumbe drugih
								
								document.getElementById('RF').style.border="2px solid black";				//tle ga damo v ospredje
								document.getElementById('RF').style.backgroundColor="#d6d6d6"
								document.getElementById('RF').style.opacity="1";
							}
							trenutnoPrikazano="RFB";
							document.getElementById('RF').style.backgroundColor="#d6d6d6"
							document.getElementById('RFB').style.display = "block";
							
							document.getElementById('TS').style.border="2px solid #a6a6a6";
							document.getElementById('TS').style.backgroundColor="#eeeeee";
							document.getElementById('TS').style.opacity="0.4";
							
							document.getElementById('TF').style.border="2px solid #a6a6a6";
							document.getElementById('TF').style.backgroundColor="#eeeeee";
							document.getElementById('TF').style.opacity="0.4";
						}
						
						function prikaziOpcije2() {
							if (trenutnoPrikazano != "") {		//če je že nekaj prikazano
								document.getElementById(trenutnoPrikazano).style.display = "none";
								
								document.getElementById('TS').style.border="2px solid black";				//tle ga damo v ospredje
								document.getElementById('TS').style.backgroundColor="#d6d6d6"
								document.getElementById('TS').style.opacity="1";
							}
							trenutnoPrikazano="TSB";
							document.getElementById('TSB').style.display = "block";
							
							document.getElementById('RF').style.border="2px solid #a6a6a6";
							document.getElementById('RF').style.backgroundColor="#eeeeee";
							document.getElementById('RF').style.opacity="0.4";
							
							document.getElementById('TF').style.border="2px solid #a6a6a6";
							document.getElementById('TF').style.backgroundColor="#eeeeee";
							document.getElementById('TF').style.opacity="0.4";
						}
						
						function prikaziOpcije3() {
							if (trenutnoPrikazano != "") {		//če je že nekaj prikazano
								document.getElementById(trenutnoPrikazano).style.display = "none";
								
								document.getElementById('TF').style.border="2px solid black";				//tle ga damo v ospredje
								document.getElementById('TF').style.backgroundColor="#d6d6d6"
								document.getElementById('TF').style.opacity="1";
							}
							trenutnoPrikazano="TVB";
							document.getElementById('TVB').style.display = "block";
							
							document.getElementById('TS').style.border="2px solid #a6a6a6";
							document.getElementById('TS').style.backgroundColor="#eeeeee";
							document.getElementById('TS').style.opacity="0.4";
							
							document.getElementById('RF').style.border="2px solid #a6a6a6";
							document.getElementById('RF').style.backgroundColor="#eeeeee";
							document.getElementById('RF').style.opacity="0.4";
						}
						
						function naloziLahkoRF() {
							window.location.href = "/transposition/RFE";
						}
						function naloziTezkoRF() {
							window.location.href = "/transposition/RFH";
						}
						function naloziLahkoTS() {
							window.location.href = "/transposition/TSE";
						}
						function naloziTezkoTS() {
							window.location.href = "/transposition/TSH";
						}
						function naloziLahkoTV() {
							window.location.href = "/transposition/TVE";
						}
						function naloziTezkoTV() {
							window.location.href = "/transposition/TVH";
						}
						
						function naloziLahkoT() {
							window.location.href = "/transposition/TL";
						}
						function naloziSrednjoT() {
							window.location.href = "/transposition/TS";
						}
						function naloziTezkoT() {
							window.location.href = "/transposition/TT";
						}
					</script>
					
					<style>
						.mainButtonsA {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
							
							position:relative;
   							left:10%;
						}
						
						.mainButtonsB {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
							
							position:relative;
   							left:10%;
						}
						
						.mainButtonsC {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
							
							position:relative;
   							left:10%;
						}
						
						.mainButtonsAB {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
							
							position:relative;
   							left:30%;
						}
						
						.mainButtons:hover {
							background-color: #bebebe;
						}
						
						.sideButtonsL {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
							
							position:relative;
   							left:30%;
						}
						
						.sideButtonsT {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
							
							position:relative;
   							left:35%;
						}
						.sideButtons:hover {
							background-color: #d6d6d6;
						}
						
						.imeTranspozicije {
							color: #467892;
							font-size: 24px;
							float: left;
							
							position:relative;
   							left:31%;
						}
						
						.imeTranspozicije2 {
							color: #467892;
							font-size: 24px;
							float: left;
							
							position:relative;
   							left:21%;
						}
						
						.tajnopis {
							border: 3px solid #467892; 
							width:50%; 
							border-radius: 10px; 
							background-color: #eeeeee; 
							margin-top: 20px; 
							padding: 10px; 
							word-break: break-all;
							float:left;
						}
						
						.tajnopis2 {
							border: 3px solid #db2727; 
							width:50%; 
							border-radius: 10px; 
							background-color: #eeeeee; 
							margin-top: 20px; 
							padding: 10px; 
							word-break: break-all;
							float:left;
						}
						
						.tajnopis2:hover {
							display: block;
						}
						
					</style>
				</div>	
			</div>	
			<div id="swatch" class="ui-widget-content ui-corner-all"></div>
		</div>
	</div>
</div>

{% endblock %}