{% extends "index.html" %}
{% block body %}
<div class="row" id="stran">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="head">
                <div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<b><span class="pozdrav1" id="naslov"></span></b>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					
        
					<p id="tajnopis" class="tajnopis">{{ name }}</p>
					
					<br>
					Originalno sporočilo je:
					<br>
					<input type="text" id="vnosOdgovora" placeholder="VNESI SVOJ ODGOVOR, BREZ LOČIL" class="odgovor">
					<button id="potrdi" type="button" onclick="pravilenOdgovor()" class="mainButtons">Potrdi</button>
					<button id="novaNaloga" type="button" onclick="window.location.reload()" class="mainButtons">Nova naloga</button>
					<br>
					<br id="drugiBreak">
					<p id="pravilnost"></p>
					<button type="button" id="namig" onclick="prikaziNamig()" class="mainButtons">Namig</button> <b id="opozorilo">Pozor: ob kliku na gumb "Namig" se ti bo od končnega rezultata odbilo X točk!</b>
					<br>
					<br id="break" style="display:none;">
					<p id="prvi"></p>
					<p id="drugi"></p>
					<p id="tretji"></p>
					<p id="cetrti"></p>
					
					<script>
						document.getElementById("naslov").innerHTML= "{{ imeNaloge }}";
						
						var steviloZmot=0;
						var steviloKlikov=0;
						
						var Tezavnost= "{{ tezavnost }}";
						var vrstaTranspozicije = "{{ vrstaa }}";
						
						if(Tezavnost == "L") {																			//ni gumba za namig
							document.getElementById("opozorilo").style.display="none";
							document.getElementById("namig").style.display="none";
							document.getElementById("prvi").innerHTML= "Ključ: {{ key }}";
						}
						else if (Tezavnost == "T"){																		//je, pokaže samo ključ
							document.getElementById("opozorilo").style.display="none";
							function prikaziNamig() {
								document.getElementById('break').style.display = "block";
								document.getElementById("prvi").innerHTML= "Ključ: {{ key }}";
							}
						}
						
						
						if (Tezavnost== "Tekmovanje") {
							var tockePrikaz=50;
							document.getElementById("opozorilo").innerHTML="Pozor: ob kliku na gumb Namig se ti bo od končnega rezultata odbilo 50 točk!";
							
							var tocke=0;
							function prikaziNamig() {
								if(steviloKlikov==0) {
									//vrstaTranspozicije = "{{ vrstaa }}"
									document.getElementById('break').style.display = "block";
									document.getElementById("prvi").innerHTML= "Vrsta šifriranja: {{ vrstaa }}";
									tocke+=50;
									document.getElementById("opozorilo").innerHTML="Pozor: ob kliku na gumb Namig se ti bo od končnega rezultata odbilo 100 točk!";
									steviloKlikov++;
								}
								else if (steviloKlikov==1) {
									document.getElementById("drugi").innerHTML= "Ključ: {{ key }}";
									tocke+=100;
									document.getElementById("opozorilo").style.display="none";
									steviloKlikov++;
								}
								else if (steviloKlikov==2) {
									document.getElementById("tretji").innerHTML="Ni več namigov";
									steviloKlikov++;
								}
								else if (steviloKlikov==3) {
									document.getElementById("cetrti").innerHTML="Nice try ;)";
									document.getElementById("namig").style.display="none";
									document.getElementById("drugiBreak").style.display="none";
								}
							}
						}
						
						function pravilenOdgovor() {
							
							var cisto= "{{ cistoo }}";
							
							var njihovo= document.getElementById("vnosOdgovora").value;
							njihovo=njihovo.replace(/\s{2,}/g," ");												//odstranimo ločia
							njihovo = njihovo.replace(/\s+/g, '');
							njihovo=njihovo.toUpperCase();														//damo v upper case
							if (njihovo == cisto) {																	//odg je pravilen
								document.getElementById("namig").style.display="none";
								document.getElementById("prvi").style.display="none";
								document.getElementById("drugi").style.display="none";
								document.getElementById("tretji").style.display="none";
								document.getElementById("cetrti").style.display="none";
								document.getElementById("opozorilo").style.display="none";
								
								document.getElementById('break').style.display = "block";
								document.getElementById('drugiBreak').style.display = "block";
								document.getElementById('break').style.display = "block";
								
								if(Tezavnost== "Tekmovanje"){
									document.getElementById('tajnopis_obrazec').style.display = "block";
									document.getElementById('stran').style.opacity="0.4";
									document.getElementById('nav-bar').style.opacity="0.4";
									document.getElementById('top').style.opacity="0.4";
									
									document.getElementById('nav-bar').style.disabled= true;
									document.getElementById('top').style.disabled= true;
									document.getElementById('novaNaloga').style.disabled= true;
									document.getElementById("zmote").innerHTML="Zmotil/a si se "+steviloZmot+"-krat.";
									if (steviloKlikov>=2) {
										steviloKlikov=2;
									}
									document.getElementById("namigovv").innerHTML="Porabil/a si "+steviloKlikov+" namigov.";
									
								}
								else {
									document.getElementById("pravilnost").innerHTML="Čestitam! Odgovor je pravilen.";
									document.getElementById("pravilnost").style.color="green";
									document.getElementById("potrdi").innerHTML="Lestvica";
									document.getElementById("potrdi").onclick = function() { window.location.href = "/transposition/scoreboard"; }
								}
								
							}
							else {																						//odg je napacen
								steviloZmot++;
								document.getElementById('break').style.display = "block";
								document.getElementById("pravilnost").innerHTML="Odgovor je napačen, poskusi znova!";
								document.getElementById("pravilnost").style.color="red";
							}
						}
					</script>
					
					<style>
						.mainButtons {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
						}
						
						.mainButtons:hover {
							background-color: #bebebe;
						}
						
						.sideButtons {
							border: 2px solid black; 
							border-radius: 5px; 
							background-color: #eeeeee; 
							font-size: 15px; 
							margin-top: 20px; 
							padding: 5px 10px;
						}
						.sideButtons:hover {
							background-color: #d6d6d6;
						}
						
						.tajnopis {
							border: 3px solid #467892; 
							width:50%; 
							border-radius: 10px; 
							background-color: #eeeeee; 
							margin-top: 20px; 
							padding: 10px; 
							word-break: break-all;
						}
						
						.odgovor {
							border: 2px solid black; 
							width:50%; 
							border-radius: 10px; 
							background-color: #eeeeee; 
							margin-top: 20px; 
							padding: 10px;
							word-break: break-all;
						}
						
						
					</style>
					
				</div>	
			</div>	
			<div id="swatch" class="ui-widget-content ui-corner-all"></div>
		</div>
	</div>
</div>
<style>
    #tajnopis_obrazec {
		position: absolute; 
		top: 50%;
		width: 40%;
		left: 30%;
		border: 3px solid #467892;
		border-radius: 10px; 
		background-color: #eeeeee; 
		padding: 10px; 
		text-align: center;
		display: none;
	}
</style>
<div id="tajnopis_obrazec">
	<form>
	<b><font size="5">ČESTITAM! ODGOVOR JE PRAVILEN.</font></b><br><br>
		Nalogo ste rešili v X in prejeli Y točk.<div id="zmote"></div><div id="namigovv"></div>
		<br>
		<label for="ime"><b>Ime:</b></label>
		<br>
		<input type="text" class="mainButtons" id="ime" placeholder="Ime" name="ime" required>
		<button type="button" class="mainButtons" onclick="posljiPodatke()">Potrdi</button>
	</form>
</div>
<script>
    function posljiPodatke() {
		var ime=document.getElementById("ime").value;
	}
</script>
{% endblock %}

