{% extends "header.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/transposition.scoreboard.css')}}"/>
{% endblock %}
{% block body %}

<style>
	.leaderboard-container {
	    width: 100%;
	    padding: 20px;
	    margin: 0 auto;
	    background-color: #FFFFFF;
	    border: 1px solid #ccc;
	    border-top: none;
	    font-family: "Roboto", sans-serif;
	}
	
	.nasl2 {
		color: #f9a333;
		text-align: center;
		font-size: 20px;
	    width: 60px;
	    display: inline-block;
	    margin-left: 9%;
	    vertical-align: middle;
	    margin-top: 20%;
	}
</style>



<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="head">
                <div class="row">
                    <div class="splitHead">   
                        <b>
                            <span class="pozdrav1"> 
                            Lestvica: {{ tez }}
                            </span>
                        </b>
                    </div>
                </div>
            </div>
<div id="leaderboard-container">

    <h10><button type="button" id="L" href="{{url_for('transposition.scoreboard', difficulty='lahko')}}" onclick="naLahko()" class="mainButtonsA">LAHKO</button>
	<button type="button" id="S" href="{{url_for('transposition.scoreboard', difficulty='srednje')}}" onclick="naSrednje()" class="mainButtonsB">SREDNJE</button>
	<button type="button" id="T" href="{{url_for('transposition.scoreboard', difficulty='tezko')}}" onclick="naTezko()" class="mainButtonsC">TEŽKO</button>
	</h10>
	
	<script>
		function naLahko() {
			window.location.href ='/transposition/scoreboard/lahko';
		}
		function naSrednje() {
			window.location.href ='/transposition/scoreboard/srednje';
		}
		function naTezko() {
			window.location.href ='/transposition/scoreboard/tezko';
		}
	</script>

	<div class="row">
		<div class="player">
			<div class="col-sm-1">
            	<span class="nasl2">Mesto</span>
        	</div>
        	<div class="col-sm-3">
            	<span class="nasl2">Ime</span>
        	</div>
        	<div class="col-sm-2">
            	<span class="nasl2">Število poskusov</span>
        	</div>
        	<div class="col-sm-2">
            	<span class="nasl2">Število zmot</span>
        	</div>
        	<div class="col-sm-2">
            	<span class="nasl2">Čas</span>
        	</div>
        	<div class="col-sm-2">
            	<span class="nasl2">Točke</span>
        	</div>
		</div>
		
	</row>

	{% for user in users %}
        <div class="row">
            <div class="player">
                <div class="col-sm-1" style="margin-top: 3.5%;">
                    <span class="number">{{ loop.index }}.</span>
                </div>
                <div class="col-sm-3" style="margin-top: 5%;">
                	<span class="name">{{ user[1] }}</span>
                </div>
                <div class="col-sm-2" style="margin-top: 5%;">
                	<span class="name">{{ user[3] }}</span>
                </div>
                <div class="col-sm-2" style="margin-top: 5%;">
                	<span class="name">{{ user[4] }}</span>
                </div>
                <div class="col-sm-2" style="margin-top: 5%;">
                	<span class="name">{{ user[5] }}</span>
                </div>
                <div class="col-sm-2" style="margin-top: 5%;">
                	<span class="name">{{ user[6] }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
	
	<style>
		.mainButtonsA {
    		border: 2px solid #467892; 
    		border-radius: 5px; 
    		background-color: #eeeeee; 
    		font-size: 25px; 
    		margin-top: 20px; 
    		padding: 5px 10px;
			position:relative;
   			left:30%;
		}
		
		.mainButtonsB {
			border: 2px solid #467892; 
			border-radius: 5px; 
			background-color: #eeeeee; 
			font-size: 25px; 
			margin-top: 20px; 
			padding: 5px 10px;
			position:relative;
   			left:30%;
		}
						
		.mainButtonsC {
			border: 2px solid #467892; 
			border-radius: 5px; 
			background-color: #eeeeee; 
			font-size: 25px; 
			margin-top: 20px; 
			padding: 5px 10px;
			position:relative;
   			left:30%;
		}
	</style>	
    
</div>
</div>
</div>
</div>

{% endblock %}